strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
legacy-peer-deps=false
virtual-store-dir-max-length=128
canvas=false
node-canvas=false
node-gyp=false
--no-optional=true
--ignore-scripts=true
